/* src/components/Header.css */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--cor-branco);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 60px; /* Ajuste a altura conforme necessário */
}

.site-header nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--cor-indigo-escuro); /* Usando nossa variável de cor! */
  font-weight: bold;
  font-size: 1.1rem;
}

.site-header nav a:hover {
  color: var(--cor-azul-principal);
}